# Ambiente virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Diretório de saves (será gerenciado por um Volume)
saves/

# Metadados do Git e do editor
.git
.gitignore
.vscode/

# Arquivos do Makefile
Makefile